<!DOCTYPE html>
<html>
  <head>
    <title>Virtualworld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style type="text/css">
      .center {
        color: blue;
        text-align: center;
        font-size: 48px;
        font-family: "Times New Roman";
        text-decoration: underline

      }
      .center2 {
        color: black;
        text-align: center;
        font-size: 30px;
        font-family: "Times New Roman";
        text-decoration: underline

      }
       th, td {
        width:150px;
        text-align:center;
        padding:5px
             
      }
      .profile {
        color: blue;    
        text-align: left;
      }
      .left{
        text-align: left;
        position: absolute;
        top: 10px;
        left: 19px;
      }
      body {
        background-color: lightblue;
      } 
      .corner {
        text-align: right;
        position: absolute;
        top: 10px;
        right: 19px;
      }
      .login{
        text-align: center;
      }


    </style>
  </head>

  <body align="center" >
    <%= yield %>
  </body>
</html>
